@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-manrope: 'Manrope', sans-serif;
}

@layer base {
  body {
    @apply font-manrope;
  }
}
